<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="aspnet:UseHostHeaderForRequestUrl" value="true" xdt:Transform="Insert"/>
		<add key="enableSimpleMembership" value="true" xdt:Transform="Insert"/>
	</appSettings>
	<connectionStrings>
		<add name="RunniacConnection"
		  connectionString="Data Source=tcp:s11.winhost.com;Initial Catalog=DB_89219_runniacapp;User ID=DB_89219_runniacapp_user;Password=bo#2Bgk#d;Integrated Security=False;"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="DefaultConnection"
		  connectionString="Data Source=tcp:s11.winhost.com;Initial Catalog=DB_89219_runniacusers;User ID=DB_89219_runniacusers_user;Password=bo#2Bgk#d;Integrated Security=False;"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="SetAttributes" debug="false" />
		<trust level="Full" xdt:Transform="Insert" />

	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect to non-www" stopProcessing="true" xdt:Transform="Insert">
					<match url="(.*)" negate="false"></match>
					<action type="Redirect" url="http://runniac.com/{R:1}"></action>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^runniac\.com$" negate="true"></add>
					</conditions>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>