<div class="container">
    <h1>Fallo en el login</h1>
    <div class="alert alert-warning">
        <p>Se ha producido un error al intentar hacer el login con el servicio externo. Por favor, vuelva intentarlo pasados unos instantes.</p>
    </div>
    <a href="/" class="btn btn-primary">Ir a Inicio</a>
</div>